<section id="portfolio" class="section">
    
    <br>
    <h1>Portfolio</h1>
    <br>
    <div *ngFor="let item of [1,1,1,1,1]">
        <hr>
        <h2>Titulo</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consequatur vitae quibusdam repellendus iusto ratione fugiat amet accusamus distinctio officia ad sapiente, rerum culpa. Earum alias eum omnis laborum ut!</p>
    </div>

</section>

<section id="skillset" class="section">
    
    <br>
    <h1>Skill Set</h1>
    <br>
    <div *ngFor="let item of [1,1,1,1,1]">
        <hr>
        <h2>Titulo</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consequatur vitae quibusdam repellendus iusto ratione fugiat amet accusamus distinctio officia ad sapiente, rerum culpa. Earum alias eum omnis laborum ut!</p>
    </div>

</section>

<section id="experience" class="section">
    
    <br>
    <h1>Experience</h1>
    <br>
    <div *ngFor="let item of [1,1,1,1,1]">
        <hr>
        <h2>Titulo</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consequatur vitae quibusdam repellendus iusto ratione fugiat amet accusamus distinctio officia ad sapiente, rerum culpa. Earum alias eum omnis laborum ut!</p>
    </div>

</section>

<section id="contact" class="section">
    
    <br>
    <h1>Contact</h1>
    <br>
    <div *ngFor="let item of [1,1,1,1,1]">
        <hr>
        <h2>Titulo</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consequatur vitae quibusdam repellendus iusto ratione fugiat amet accusamus distinctio officia ad sapiente, rerum culpa. Earum alias eum omnis laborum ut!</p>
    </div>

</section>