<div class="container-fluid header content">
    <div class="header-video">
        <!-- <video src="./assets/fondoHeader.mp4" autoplay loop muted="muted"></video> -->
        <img src="./assets/img/fondoHeader.gif" alt="background"> 

    </div>
    <div class="header-overlay"></div>
    <div class="header-text">
        <h1 class="animated fadeIn">
            <span>ALAN YAEL MEJÍA CAMPUZANO</span>
        </h1>
        <hr>
        <p class="animated fadeIn"><span>Full-Stack JavaScript Developer</span></p>
    </div>
</div>