<div class="row justify-content-center">
    <div class="col-md-3 col-sm-6 mb-5 ms-3 me-3 animated fadeIn">
        <img src="./assets/img/fi.webp" (click)="openWindowCustomClass(fi)" class="img-fluid poster imagen" style="max-width: 98% !important;">
        <div>
            <h3>Facultad de Ingeniería-UAEMex</h3>
            <!-- <div class="row">
                <div class="text-black">
                    {{project.description}}
                </div>
            </div> -->
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-5 ms-3 me-3 animated fadeIn">
        <img src="./assets/img/apous-digital.webp" (click)="openWindowCustomClass(apous)" class="img-fluid poster imagen" style="max-width: 98% !important;">
        <div>
            <h3>Apous Digital</h3>
            <!-- <div class="row">
                <div class="text-black">
                    {{project.description}}
                </div>
            </div> -->
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-3 ms-3 me-3 animated fadeIn">
        <img src="./assets/img/zimba.webp" (click)="openWindowCustomClass(freelance)" class="img-fluid poster imagen" style="max-width: 98% !important;">
        <div>
            <h3>Freelance</h3>
            <!-- <div class="row">
                <div class="text-black">
                    {{project.description}}
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- FI UAEMex Modal -->

<ng-template #fi let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Laboratorio de Software de la FI UAEMex</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center">
            <strong>Dec/2017 - Dec/2019 </strong>   
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <ul>
                <li>
                    Participation as Developer Student of the Diki Platform, which applies diagnostic math tests to new students.
                </li>
                <br>
                <li>
                    Participation in analysis, design, development and implementation of different projects carried out in the software laboratory.
                </li>
                <br>
                <li>
                    <strong>Technologies used:</strong> Docker, CodeIgniter, PHP, PostgreSQL and Git
                </li>
            </ul>
            

        </div>    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger text-white" (click)="modal.close()">Close</button>
    </div>
</ng-template>

<!-- Apous Digital Modal  -->

<ng-template #apous let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Apous Digital</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center">
            <strong>Aug/2020 - Feb/2021 </strong>   
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <ul>
                <li>
                    Co-founder of Apous Digital, a digital agency.
                </li>
                <br>
                <li>
                    Specialized in creating an internet presence for SMEs in e-commerce through websites and marketing strategies.
                </li>
                <br>
                <li>
                    <strong>Technologies used:</strong> Wordpress, PHP, HTML, CSS and Bootstrap 
                </li>
            </ul>
        </div>    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger text-white" (click)="modal.close()">close</button>
    </div>
</ng-template>


<!-- Freelance Modal  -->

<ng-template #freelance let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Freelance</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center">
            <strong>Oct/2020 - Present</strong>   
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <ul>
                <li>
                    Quotation, development and deployment of web and mobile projects.
                </li>
                <br>
                <li>
                    <strong>Technologies used:</strong> Angular, Flutter, Laravel, HTML, CSS, JavaScript, PHP and MySQL  
                </li>
            </ul>
        </div>   
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger text-white" (click)="modal.close()">Close</button>
    </div>
</ng-template>



