<div class="body-project">
    <div class="row animated fadeIn fast" style="margin-right: auto !important; background-color:  #14161E;" *ngIf="project">
        <div class="col-md-6 mt-3">
            <!-- Imágen -->
            <!-- <img [src]="project.image_path" [alt]="project.name" class="img-thumbnail"> -->
            <app-project-slideshow [project]="project"></app-project-slideshow>
    
        </div>
        <div class="col md-6 text-white mt-3">
            <h3 class="text-white">{{project.name}}</h3>
            <!-- Detalles -->
    
            
            <div class="row mt-5">
                <div class="col text-white ms-3">
                    {{project.description}}
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, esse dignissimos unde, accusantium earum, voluptatem quae iusto nostrum et molestiae rerum voluptates iure? Voluptas consectetur, voluptate quam hic cumque ratione.
                </div>
            </div>

            <div class="row mt-5 " style="margin-right: auto !important;" *ngIf="skillSet.length > 0">
                <div class="col styke text-white" style=" width: 150px !important;">
                    <app-skills-slideshow [skills]="skillSet"></app-skills-slideshow>
                </div>
            </div>
            
    
            <div class="row mt-5"  style="margin-right: 10px !important;">
                <div class=" d-flex justify-content-end mb-5">
                    <button class="btn btn-outline-info" (click)="onRegresar()">
                        Return
                    </button>
                </div>
            </div>
        </div>
    </div>


    

</div>

