<div class="body-project">
    <div class="row animated fadeIn fast" style="margin-right: auto !important; background-color:  #14161E;" *ngIf="project">
        <div class="col-md-6 mt-3">
            <!-- Imágen -->
            <app-project-slideshow [project]="project"></app-project-slideshow>
            <!-- <app-project-slideshow2 [project]="project"></app-project-slideshow2> -->
    
        </div>
        <div class="col-md-6 text-white mt-3">
            <h3 class="text-white">{{project.name}}</h3>
            <!-- Detalles -->
    
            
            <div class="row mt-5">
                <div class="col text-white ms-3">
                    {{project.description}}
                </div>
                
            </div>

            <div class="row mt-5" *ngIf="skillSet.length > 0">
                <div class="col text-white">
                    <p class="text-white ms-3 mb-3">Developed with:</p>
                    <app-skills-slideshow [skills]="skillSet"></app-skills-slideshow>
                </div>
            </div>            
    
            <div class="row mt-5 mb-5"  style="margin-right: 10px !important;">
                <div class="d-flex justify-content-end mb-5">
                    <a *ngIf="project.link != ''" class="btn btn-outline-success me-3" target="_blank" [href]="project.link">
                        View
                    </a>
                    <button class="btn btn-outline-info" (click)="onRegresar()">
                        Return
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
