h3 {
    font-size: 5px;
}

.poster {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    margin: 5px;
    background-color: rgb(41, 43, 44);
}

/*tooltip Box*/
.con-tooltip {

    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  
  }
  
  /*tooltip */
  .tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    
    width: 90%;
    padding: 0px 20px;
  
    background: aliceblue;
    color: rgb(41, 43, 44, 0.9);
    
    position: absolute;
    top:-41%;
    left: 8%;

    text-align: center;
  
    border-radius: 9px;
    font: 16px;
  
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
  }
  
  
  /* tooltip  after*/
  .tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: aliceblue transparent transparent transparent;
  
    position: absolute;
    left: 40%;
  
  }
  
  .con-tooltip:hover .tooltip{
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
      transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite  alternate;
  
  }
  @keyframes odsoky {
    0%{
      transform: translateY(6px); 
    }
  
    100%{
      transform: translateY(1px); 
    }
  
  }
  
  /*hover ToolTip*/
  .top:hover {transform: translateY(-6px);  }