<app-header></app-header>
<app-navbar></app-navbar>
<div class="container">

    <section id="portfolio" class="section">
        <div class="container-fluid">
            
            <br>
            <h1>Portfolio</h1>
            <hr>
            <br>
            <app-projects-poster-grid *ngIf="projects.length > 0" [projects]="projects"></app-projects-poster-grid>
    
        </div>
    
    </section>
    
    <section id="skillset" class="section">
        <div class="container-fluid">
            <br>
            <h1>Skill Set</h1>
            <hr>
            <br>
            <app-skills-poster-grid *ngIf="skills.length > 0" [skills]="skills"></app-skills-poster-grid>
        </div>
    
    </section>
    
    <section id="experience" class="section">
        <div class="container-fluid">
            
            <br>
            <h1>Experience</h1>
            <hr>
            <br>
            <app-experience-poster-grid></app-experience-poster-grid>
            
        </div>
    
    </section>
    
    <section id="contact" class="section">
        <div class="container-fluid">
            
            <br>
            <h1>Contact</h1>
            <hr>
            <br>
            <app-contact></app-contact>
            
        </div>
    
    </section>
    
</div>