<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:  #2A2626">
<!-- Navbar content -->
<div class="container-fluid d-flex">
    <a class="navbar-brand brand-text" (window:scroll)="changeScrollFade" href="/">
      <span>
        <img class="img-circle" src="./assets/leon-azul.jpeg">
        <span class="animated fadeIn fast" *ngIf="changeFade" id="nameMenu">
          Alan Yael Mejía Campuzano
          <span class="animated fadeIn fast" class="half-size">
            Developer
          </span>
        </span>
      </span>
    </a>
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <div class="d-flex justify-content-center">
        <ul class="navbar-nav me-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']" fragment="portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
          <a class="nav-link "  aria-current="page" [routerLink]="['/']" fragment="skillset">Skill Set</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" aria-current="page" [routerLink]="['/']" fragment="experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/']" fragment="contact">Contact</a>
          </li>
          <!-- <li class="nav-item ms-3">
            <a class="btn btn-outline-light" aria-current="page" href="#">GitHub</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
