/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: aliceblue;
    color:  #1d1b1b !important;
    position: relative;
}

h1 {
    text-align: center;
}
h3{
    font-size: 22px !important;
    color: rgb(17, 17, 17);
    padding-top: 1rem;
    text-align: center;
}
hr {
    background-color: transparent;
    background-image: linear-gradient(to right, transparent , rgb(255, 0, 0), transparent);
    border: 0;
    height: .1rem !important;
    max-width: 100%;
    opacity: 1;
   
}

.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
}

.card-title,
.card-text {
    color: black;
}

.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* Header */

.header{
    align-items: center;
    color: rgb(168, 77, 77);
    display: flex;
    height: 50vh;
}

.content{
    justify-content: center;
    margin: auto;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;

}

.header-video{
    height: 50vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.header-video video{
    min-height: 50%;
    min-width: 50%;
}

.header-video img{
    min-height: 100%;
    min-width: 100%;
}

.header-overlay{
    background: #303952;
    height: 50vh;
    left: 0;
    opacity: .40;
    position: absolute;
    top: 0;
    width: 98.9vw;
    z-index: 1;
}
.header-text{
    z-index: 2;
    width: 100%;
}

.header-text h1{
    color: aliceblue;
    font-size: 50px;
    font-family: 'Share Tech', sans-serif;
    margin-bottom: 0;
}

.header-text p{
    color: aliceblue;
    font-size: 25px;
    font-family: 'Share Tech', sans-serif;
    margin-bottom: 0;
}

@media(max-width: 960px){
    .content{
        padding: 0 3rem 0 3rem;
    }
}

/* Menu */

nav {
    margin-top: -1px;
}

.navbar-header{
    margin-right: 10px;
    margin-left: -5px;
}

.menu{ height:80px; width:100%}
.fixed{position:fixed; top:0}

#nameMenu{
    font-size: 1.3rem;
}
.half-size {
    font-size: 0.9rem;
}

@media(max-width: 460px){
    .half-size{
        display: none;
    }
}


@media (max-width: 460px){
    #nameMenu{
        font-size: 1rem;
    }
}

.brand.text{
    font-family: 'Share Tech', sans-serif;
}

.img-circle {
    border-radius: 50%;
    width: 50px;
}

img {
    vertical-align: middle;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}


	
.imagen:hover {filter: opacity(.8);}

.section {
    padding-top: 5rem;
    padding-bottom: 1rem;
}


.social-media{
    color: aliceblue;
    margin-left: 15px;
    margin-right: 15px;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
